body{
    background-color:lightgray;
}
.module{
    background-color: white;
}
.errors{
    margin: -35px 2px 0px 95%;
    font-size: 25px;
    color: red;
}
ul::-webkit-scrollbar {
    display: none;
  }
.nav-link:active{
    color: aliceblue;
}
.nav-link{
    color: black;
}