
/* for body color */
body{
    background-color:lightgray;
}
/* For background color of all modules */
.module{
    background-color: white;
}
/* For Error showing in form validation */
.errors{
    margin: -35px 2px 0px 95%;
    font-size: 25px;
    color: red;
}
ul::-webkit-scrollbar {
    display: none;
  }
.nav-link:active{
    color: aliceblue;
}
.nav-link{
    color: black;
}